<p id="notice"><%= notice %></p>

<p>
  <strong>Study name:</strong>
  <%= @study.study_name %>
</p>

<p>
  <strong>Study cost:</strong>
  <%= @study.study_cost %>
</p>

<%= link_to 'Edit', edit_study_path(@study) %> |
<%= link_to 'Back', studies_path %>
