<p id="notice"><%= notice %></p>

<h1>Consults</h1>

<table>
  <thead>
    <tr>
      <th>Wait time</th>
      <th>Consult time</th>
      <th>Material used</th>
      <th>Material cost</th>
      <th>Staff</th>
      <th>Study</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @consults.each do |consult| %>
      <tr>
        <td><%= consult.wait_time %></td>
        <td><%= consult.consult_time %></td>
        <td><%= consult.material_used %></td>
        <td><%= consult.material_cost %></td>
        <td><%= consult.staff_id %></td>
        <td><%= consult.study_id %></td>
        <td><%= link_to 'Show', consult %></td>
        <td><%= link_to 'Edit', edit_consult_path(consult) %></td>
        <td><%= link_to 'Destroy', consult, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Consult', new_consult_path %>
