<p id="notice"><%= notice %></p>

<p>
  <strong>Wait time:</strong>
  <%= @consult.wait_time %>
</p>

<p>
  <strong>Consult time:</strong>
  <%= @consult.consult_time %>
</p>

<p>
  <strong>Material used:</strong>
  <%= @consult.material_used %>
</p>

<p>
  <strong>Material cost:</strong>
  <%= @consult.material_cost %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @consult.staff_id %>
</p>

<p>
  <strong>Study:</strong>
  <%= @consult.study_id %>
</p>

<%= link_to 'Edit', edit_consult_path(@consult) %> |
<%= link_to 'Back', consults_path %>
